<main role="main">
  <section class="my-4">
    <div class="container">
      <h5 *ngIf="!jogador.id else elseJogador">Registrar Jogador</h5>
      <ng-template #elseJogador>
        <h5>Editar Jogador</h5>
      </ng-template>
    </div>
  </section>
  <section class="container mt-5">
    <form class="needs-validation" (ngSubmit)="salvar()">
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationCustom01">Nome</label>
          <input type="text" class="form-control" id="validationCustom01" [(ngModel)]="jogador.nome" name="nome" placeholder="Enter Nome"
            required>
        </div>
        <div class="col-md-6 mb-3">
          <label for="validationCustom02">Nascimento</label>
          <input type="date" class="form-control" id="validationCustom02" [(ngModel)]="jogador.nascimento" name="nascimento" placeholder="Date"
            required>
        </div>
      </div>
      <div class="form-row">

        <div class="col-md-6 mb-5">
          <label for="validationCustomUsername">Altura</label>
          <input type="number" class="form-control" id="validationCustomUsername" [(ngModel)]="jogador.altura" name="altura" placeholder="1.75"
            aria-describedby="inputGroupPrepend" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-5">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Time</label>
            </div>
            <select [(ngModel)]="jogador.time" name="time" class="custom-select" id="inputGroupSelect01">
              <!-- <option *ngFor="let time of times" [ngValue]="time">{{time.nome}}</option> -->
              <option selected>Selecione...</option>
              <option [ngValue]="Flamengo">Flamengo</option>
              <option [ngValue]="Sampaio">Sampaio</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect02">Gênero</label>
            </div>
            <select [(ngModel)]="jogador.genero" name="genero" class="custom-select" id="inputGroupSelect02">
              <option selected>Selecione...</option>
              <option [ngValue]="M">Masculino</option>
              <option [ngValue]="F">Feminino</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" *ngIf="!jogador.id else elseBlock">
        <i class="material-icons right">send</i>Salvar</button>

      <ng-template #elseBlock>
        <button class="btn btn-primary" type="submit" (click)='atualizar()'>
          <i class="material-icons right">send</i>Alterar</button>
      </ng-template>
    </form>
  </section>
</main>